body, html {
    height: 100%;
    background-image: linear-gradient(rgb(161, 247, 255), rgb(177, 255, 192));
}

.hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.496), rgba(255, 255, 255, 0.496)), url("/midtermexam/images/panorama.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(14, 9, 105);
}

nav{
    background-color: #fff2fb;
    padding: 5px;
    width: 100%;
}

li{
    float: left;
    list-style: none;
    padding: 13px;
    font-family: 'Times New Roman';
    font-size: 18px;
    padding-top: 28px;
    margin-left: 2em;
}

a:link{
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 128, 217);
    background-color: transparent;
    text-decoration: none;
}

.blogs {
    position: relative;
    padding: 0;
    width: 500px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    float: left;
    margin: 0.5em;
    margin-left: 10em;
    justify-content: center;
}

.content {
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    background-color: rgba(200, 200, 200, 0.5);
    width: 500px;
    height: 300px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}

.blogs .content:hover {
    opacity: 1;
}

.blogs .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.blogs .content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
}

img{
    width: 500px;
    height: 300px;
}

p.legend {
    background: #d0fff5; 
    color: black; 
    padding:.2em .3em; 
    font-size:1.2em; 
    border:2px outset #d1fff7; 
    position:relative; 
    margin-bottom: 0.2em; 
    width: 10em; 
    margin-left:0.3em; 
    margin-top:1em
}

#personal {
    background:#fde8fe;
    border: none;
}

#personal label {
    position: relative;
    font-size:90%; 
    padding-top:.2em; 
    left:20px
}

#personal input {
    background-color: #f6dff7;
    border: 1em;
    border-color: #ffffff;
    margin-left:7em; 
    line-height:1.4em; 
    margin-bottom:.2em;
    width: 60em;
}

#message{
    margin-left: 1em;
}

#message textarea{
    max-width: 95%;
}

#button{
    margin-top: 1em;
    margin-bottom: 1em;
    background:#fde8fe;
    border: 0.1em;
}

#about{
    width: 300px;
    height: 400px;
}

.sidenav {
    height: 100%;
    width: 160px;
    padding-top: 5%;
    padding-left: 1%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff2fb;
    float: left;
    font-family: 'Times New Roman';
}

.sidenav a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
}

#category{
    height: 680px; 
    width: 88%; 
    float: left;
    padding: 0;
    margin-top: 1em;
}

iframe{
    height: 100%; 
    width: 100%;
}

.collapsible{
    background-color: #fff2fb;
    color: #000000;
    cursor: pointer;
    width: 50px;
    border: none;
    float: none;
  }
  
.active, .collapsible:hover{
    background-color: #fdbbe9;
}
  
.navcategory{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff2fb;
}

.blogcontent{
    padding: 1em;
}
@media screen and (max-width: 500px) {
    li{
        float: none;
    }

}